.banner {
    position: relative;
    width: 100%;
    height: 300px;
    overflow: hidden;
}

.banner-container {
    display: flex;
}

.banner img {
    width: 100%;
    height: auto;
}

button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: rgba(0, 0, 0, 0.5);
    border: none;
    color: #fff;
    font-size: 20px;
    padding: 10px 15px;
    cursor: pointer;
}

.prev {
    left: 0;
}

.next {
    right: 0;
}

/* Mobil */

@media (max-width: 600px) {
    .banner {
        height: auto;
    }
}