/* Resetear estilos */
@import url('./reset.css');

:root {
    /* Paleta de colores */
    --primary: #4e73df;
    --success: #1cc88a;
    --info: #36b9cc;
    --warning: #f6c23e;
    --danger: #e74a3b;
    --secondary: #858796;
    --light: #f8f9fc;
    --dark: #5a5c69;
    --white: #ffffff;
    --black: #000000;

    /* Tamaños de fuente */

    --sm: 14px;
    --md: 16px;
    --lg: 18px;
    --xl: 22px;
    --xl2: 40px;
}

.text-left {
    text-align: left !important;
}

body {
    font-family: 'Quicksand', sans-serif;
}

.container {
    width: 100%;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    min-height: 100px;
    padding: 5px 20px;
    background-color: var(--success);
    overflow: auto;
}

.logo {
    background-image: url("../img/logo-app-bio.png");
    background-size: 100px;
    background-repeat: no-repeat;
    width: 100px;
    height: 58px;
}

/* Estilos para el menu de navegación */

.menu ul {
    display: flex;
    flex-direction: row;
}

.menu ul li {
    margin-left: 2px;
}

.menu ul li a {
    padding: 10px;
    color: var(--light);
    font-size: var(--md);
}

/* main */

main {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.info {
    width: 90%;
    padding: 50px;
}

.info h1 {
    font-size: var(--xl2);
    font-weight: bold;
    text-align: center;
    margin-bottom: 30px;
    color: var(--primary);
}

.info h2 {
    font-size: var(--xl);
    color: var(--primary);
    font-weight: bold;
}

.info p {
    font-size: var(--md);
    color: var(--dark);
    text-align: justify;
    line-height: 1.5em;
    margin-bottom: 20px;
}

/* Footer */

footer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 150px;
    background-image: linear-gradient(to left, var(--dark), var(--secondary));
    color: var(--light);
}

footer a {
    color: var(--light);
}

footer h2 {
    font-size: var(--lg);
    font-weight: bold;
    margin-bottom: 10px;
    padding-bottom: 2px;
    color: var(--warning);
    border-bottom: 1px solid var(--light);
}

.logo-footer {
    background-image: url("../img/logo-app-bio.png");
    background-size: 110px;
    background-repeat: no-repeat;
    width: 160px;
    height: 60px;
}

/*Boton buscar en index*/
.container-search {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 5%;
    margin-bottom: 50px;
}

.container-search .search {
    background-color: var(--secondary);
    color: var(--white);
    padding: 20px 30px;
    width: 49%;
    cursor: pointer;
}

/*Edn*/

/* Detail */
.image {
    width: 100%;
    height: 300px;
    overflow: hidden;
}

.image img {
    width: 100%;
}

.subtitle {
    padding: 20px 0;
}

.content {
    padding: 10px 0;
}

.content h3 {
    color: var(--dark);
    font-weight: bold;
    font-size: var(--lg);
    margin: 5px 0;
}

/* End Detail */

/* Start Contact*/
.content-form {
    display: flex;
    width: 100%;
    padding: 5%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--secondary);
}

.row {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: auto;
}

.content-form form {
    width: 100%;
}

.row label {
    display: flex;
    font-size: var(--lg);
    color: var(--light);
    font-weight: bold;
    padding: 0 !important;
}

.row input,
.row label {
    width: 100%;
    height: 40px;
    margin: 5px;
    padding: 0 20px;
}

.row .submit {
    background-color: var(--success);
    color: var(--light);
    width: auto;
    padding: 2px 60px;
    cursor: pointer;
}

.row .submit:hover {
    background-color: var(--info);
}


/* End Contact*/


/* Mobil */

@media (max-width: 600px) {
    .menu {
        display: none;
    }

    .info {
        width: 100%;
        padding: 10px;
    }

    footer {
        flex-direction: column;
    }
}