{% extends 'layouts/app.html' %}

{%block head%}
{{super()}}
{%endblock%}

{%block info%}
<h1>Nuevo Colón</h1>
<p>Es un municipio ubicado en la provincia de marquéz</p>
<img src="https://scontent.feyp1-1.fna.fbcdn.net/v/t1.18169-9/18922121_1174761849317350_3213096591514272922_n.png?_nc_cat=106&ccb=1-7&_nc_sid=5f2048&_nc_ohc=dJ8c99WUaxEQ7kNvgFYZDWB&_nc_ht=scontent.feyp1-1.fna&oh=00_AYB0bm3_ASFaLwcv4fns_-D9NGrH3TqeQlX18iHtddMUtw&oe=666B303B"
    alt="">

<ul>
    <li>Flora</li>
    <li>Fauna</li>
    <li>Ecosistema</li>
    <li>Paramos</li>
    <li>Especies</li>
    <li>Fuentes Hidrícas</li>
</ul>
{%endblock%}