{% extends 'layouts/app.html' %}

{%block head%}
{{super()}}
{%endblock%}

{%block info%}
<h1 class="text-left">Municipio de Nuevo Colón</h1>
<div class="image">
    <img src="https://scontent.feyp1-1.fna.fbcdn.net/v/t1.6435-9/122983795_781194815785557_4669773593436306371_n.jpg?_nc_cat=108&ccb=1-7&_nc_sid=5f2048&_nc_eui2=AeHdCZL38LfRX1Hoy8GVijw3NYumvreakwc1i6a-t5qTB0WogBcSKzi7V2mvLhW7wk5QdYPPW-pX0ZPab2oOtmnd&_nc_ohc=zWH4LA0kU9wQ7kNvgFghOSn&_nc_ht=scontent.feyp1-1.fna&oh=00_AYCo3JIIQM1WsoC5K0OpGIE8rR8k10hmULrmxk_00rz4Kg&oe=669AB86A"
        alt="">
</div>
<div class="subtitle">
    <h2>"Emporio de belleza y jardín frutícola de Colombia"</h2>
</div>

<div class="content">
    <h3> Datos generales</h3>
    <p>El Municipio de Nuevo Colon esta ubicado en la República de Colombia, en el Departamento de Boyaca, su cabecera
        esta
        localizada a los 05° 21´30" de latitud norte y 73° 27´38" longitud oeste a una altura sobre el nivel del mar de
        2500
        mts, dista de Tunja 27.5 kms y de Bogota D.C. 120 kms; Según estadísticas habitan en el Municipio un total de
        6113
        personas, de las cuales 908 abitan en el casco urbano y 5205 en la zona rural; el área del municipio es de 51
        kms 2
        limita por el Norte con Ventaquemada, Boyacá y Jenesano y por el oriente con Tibaná ; por el Sur con Úmbita y
        Turmequé y por el occidente con Turmequé y Ventaquemada.</p>
    <h3> Historia</h3>
    <p>La población de Nuevo Colón data desde antes de la llegada de los españoles, fue fundado en 1538 por el español
        Gonzalo Suarez Rendon; elevado a Municipio el 6 de mayo de 1783, con el nombre de Chirivi, permaneciendo con
        este
        nombre desde antes de la conquista hasta el año 1915, cuando definitivamente su nombre fu cambiado por el de
        Nuevo
        Colón, según la ordenanza No 5 de marzo de 1916 de la Asamblea de Boyaca.</p>
</div>
{%endblock%}