{% extends 'layouts/app.html' %}

{% block title %}
{{ super() }}
Página de inicio
{% endblock %}

{% block info%}
<h1>Bienvenid@ a App Bio</h1>
<h2>Explorando la Biodiversidad en Cundinamarca y Boyacá</h2>
<br>
<p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Rem dolorum nostrum aliquid maiores
    labore. Assumenda corrupti ab doloribus aspernatur voluptatum cumque animi excepturi nostrum
    itaque repellat! Saepe tenetur ea nihil?
    Iste obcaecati, eaque sapiente aliquid animi accusantium nostrum similique natus ipsa itaque
    facere.</p>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae similique provident a, odio
    quam quisquam ex consectetur itaque totam numquam aut modi, dolorum magnam non unde temporibus
    aspernatur illo perspiciatis?</p>
{% endblock %}